<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Library - {{ title }}</title>
</head>
<body>
    <table>
        <tr>
            <td width="150px"><strong>Flask Library</strong></td>
            <td width="100px"><a href="{{ url_for('index') }}">Home</a></td>
            <td width="130px"><a href="{{ url_for('read_books') }}">Book list</a></td>
            <td width="100px"><a href="{{ url_for('create') }}">Create book</a></td>
        </tr>
    </table>
    <hr>
    <h1>{{ title }}</h1>
    {% for book in books %}
        <a href="{{ url_for('detail', pk=book.id) }}">"{{ book.title }}" - {{ book.author }}<br></a>
    {% endfor %}
</body>
</html>