{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Password reset
{% endblock %}

{% block content %}
    <div class="text-center" style="width: 80%; margin: 0 auto">
        <h1>Password Reset Form</h1>
        <h6 style="width: 60%; margin: 0 auto">
            Please enter your new password so we can verify.
        </h6>
    </div>
    <br/>
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-success mt-3" type="submit" value="Reset Password"/>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
