{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
Update group "{{ group.name }}"
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <input class="btn btn-outline-primary" type="submit" value="Update">
                    <a class="btn btn-outline-primary" href="{% url 'groups:list' %}">Back to list</a>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        {% with object_list=group.students.all is_group=True %}
            {% include 'includes/students_table.html' %}
        {% endwith %}
    </div>
{% endblock %}