{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col align-self-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ student.last_name }} {{ student.first_name_1 }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ student.email }}</h6>
                <p class="card-text">{{ student.birthday|date:"y M Y" }} ({{ student.get_age }} year(s))</p>
                {% if student.city %}<p class="card-text">city: {{ student.city }}</p>{% endif %}
                <div class="text-center">
                    <a class="btn btn-outline-primary" href="{% url 'students:update' student.pk %}">Edit</a>
                    <a class="btn btn-outline-primary" href="{% url 'students:list' %}">Back to list</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}