<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1{{ params }}"><i class="bi bi-chevron-double-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{{ params }}"><i
                    class="bi bi-chevron-left"></i></a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link"><i class="bi bi-chevron-double-left"></i></a></li>
            <li class="page-item disabled"><a class="page-link"><i class="bi bi-chevron-left"></i></a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <li class="page-item"><a class="page-link active">{{ num }}</a></li>
            {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
            <!--     num > page_obj.number + (-3) and num < page_obj.number + 3  -->
            <!--                          page_obj.number = 5                    -->
            <!--                                num ==> 3, 4, 6, 7               -->
                <li class="page-item"><a class="page-link" href="?page={{ num }}{{ params }}">{{ num }}</a></li>
            {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{{ params }}"><i
                    class="bi bi-chevron-right"></i></a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{{ params }}"><i
                    class="bi bi-chevron-double-right"></i></a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link"><i class="bi bi-chevron-right"></i></a></li>
            <li class="page-item disabled"><a class="page-link"><i class="bi bi-chevron-double-right"></i></a></li>
        {% endif %}
    </ul>
</nav>
